{% extends 'base.html' %}
{% load static %}
{% block title %}REGISTRARME{% endblock %}

{% block content %}
<form id="app">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="showError">
        <strong>Uups!</strong> ${errorMessage}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Carnet: </label>
        <input type="text" class="form-control" v-model="body.carnet" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Nombres: </label>
        <input type="text" class="form-control" v-model="body.name" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Apellidos: </label>
        <input type="text" class="form-control" v-model="body.last_name" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Dirección: </label>
        <input type="text" class="form-control" v-model="body.address" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Género: </label>
        <select class="form-control form-control-lg" name="genre" id="" v-model="body.genre">
            <option value="MASCULINO">Masculino</option>
            <option value="FEMENINO">Femenino</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Teléfono</label>
        <input type="tel" class="form-control" id="exampleInputPassword1" v-model="body.phone">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Fecha Nacimiento</label>
        <input type="date" class="form-control" id="exampleInputPassword1" v-model="body.birth_date">
    </div>
    <div class="form-group">
        <label for="">Carrera</label>
        <select class="form-control form-control-lg" v-model="body.career_id">
            <option v-for="option in careers" :key="option.id" :value="option.id" >${ option.name }</option>
          </select>
    </div>
    <div class="form-group">
        <label for="">Genero literario</label>
        <select class="form-control form-control-lg"  v-model="body.type">
            <option v-for="option in types" :key="option" :value="option">${ option }</option>
          </select>
    </div>
    <br>
    <button type="button" class="btn btn-primary" @click="save()">Incribirme</button>
    <button type="reset" class="btn btn-danger">Cancelar</button>
</form>
{% endblock %}
{%block extra_script %}
<script src="{% static 'js/vue.js'%}"></script>
<script src="{% static 'js/axios.min.js'%}"></script>
<script>
    app = new Vue({
        delimiters: ['${', '}'],
        el: "#app",
        data: {
            body:{
                carnet: '',
                name: '',
                last_name: '',
                address: '',
                genre: '',
                phone: '',
                birth_date: '',
                career_id: '',
                type:''
            },
            careers:[],
            types: ['LIRICA', 'ÉPICA', 'DRAMÁTICA'],
            showError: false,
            errorMessage: ''
        },
        methods: {
            getCareer(){
                axios({
                    method: 'GET',
                    url: '/api/career',
                }).then(resp => {
                    if (resp.status == 200) {
                        this.careers = resp.data;
                    }
                }).catch(err => {
                    console.log(err.response.data)
                })
            },
            save() {
                axios({
                    method: 'POST',
                    url: '/api/competitor/',
                    data: this.body,
                    headers: {
                        "X-CSRFTOKEN": '{{ csrf_token }}'
                    }
                }).then(resp => {
                    if (resp.status == 201) {
                        window.location.href = '/detail/' + resp.data.id;
                    }
                }).catch(err => {
                    console.log(err.response.data)
                    this.showError = true;
                    this.errorMessage = err.response.data;

                })
            },
        },
        mounted() {
            this.getCareer();
        },
    })
        
</script>
{% endblock %}