{% extends 'base.html' %}
{% load static %}
{% block title %}FECHA PARTICIPACION!{% endblock %}

{% block content %}
<h1>Detalle del Competidor</h1>
<hr>
<p class="display-4">Nombre: {{ object.name }} {{object.last_name}}</p>
<p class="display-4">Fecha de participación: {{ object.date_to_contest }}</p>
{% endblock %}
{%block extra_script %}
<script src="{% static 'js/vue.js'%}"></script>
<script src="{% static 'js/axios.min.js'%}"></script>

{% endblock %}