{% extends 'base.html' %}
{% load static %}
{% block title %}Participantes{% endblock %}

{% block content %}
<div id="app">

    <div class="row">
        <div class="col col-md-8">
            <h1>Listado de participantes</h1>
        </div>
        <div class="col text-end">
            <button class="btn btn-success" @click="getPDF()">PDF</button>
        </div>
    </div>
    <div class="row">
        <!-- filtros -->
        <div class="col col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="career" class="form-label">Carrera</label>
                                <select class="form-select" aria-label="Default select example" v-model="career">
                                    <option selected disabled>Seleccione una carrera</option>
                                    <option v-for="career,key in careers" :key="key" :value="career.id">${career.name}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Edad</label>
                                <input type="number" class="form-control" id="phone" v-model="age">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="type" class="form-label">Género literario</label>
                                <select class="form-select" aria-label="Default select example" v-model="type">
                                    <option selected disabled>Seleccione un género literario</option>
                                    <option v-for="type,key in types" :key="key" :value="type">${type}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="birth_date" class="form-label">Fecha de declamación</label>
                                <input type="date" class="form-control" id="birth_date" v-model="date_to_contest">
                            </div>
                        </div>
                        <div class="col text-end mt-4">
                            <button class="btn btn-primary" @click="getCompetitors()">Filtrar</button>
                            <button class="btn btn-danger" @click="resetFilter()">Limpiar</button>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Carnet</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Género</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha nacimiento</th>
                        <th scope="col">Genero literario</th>
                        <th scope="col">Fecha participacion</th>
                        <th scope="col">Registrado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="comp,key in competitors" :key="key">
                        <th scope="row">${key +1}</th>
                        <td>${comp.carnet}</td>
                        <td>${comp.name}</td>
                        <td>${comp.last_name}</td>
                        <td>${comp.career.name}</td>
                        <td>${comp.genre}</td>
                        <td>${comp.phone}</td>
                        <td>${comp.birth_date}</td>
                        <td>${comp.type}</td>
                        <td>${comp.date_to_contest}</td>
                        <td>${comp.created_at}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{%block extra_script %}
<script src="{% static 'js/vue.js'%}"></script>
<script src="{% static 'js/axios.min.js'%}"></script>
<script>
    app = new Vue({
        delimiters: ['${', '}'],
        el: "#app",
        data: {
            competitors: [],
            careers: [],
            types: ['LIRICA', 'ÉPICA', 'DRAMÁTICA'],
            career: '',
            age: '',
            type: '',
            date_to_contest: ''
        },
        methods: {
            getCompetitors() {
                uri = '/api/competitor/';
                if (this.career >= 1) {
                    uri += '?career=' + this.career;
                } else {
                    uri += '?career=';
                }
                if (this.age != undefined && this.age > 0) {
                    uri += '&age=' + this.age;
                } else {
                    uri += '&age=';
                }
                if (this.type.length > 2) {
                    uri += '&type=' + this.type;
                } else {
                    uri += '&type=';
                }
                if (this.date_to_contest.length > 2) {
                    uri += '&date_to_contest=' + this.date_to_contest;
                } else {
                    uri += '&date_to_contest=';
                }

                axios({
                    method: 'GET',
                    url: uri,
                }).then(resp => {
                    if (resp.status == 200) {
                        this.competitors = resp.data;
                    }
                }).catch(err => {
                    console.log(err.response.data)
                })
            },
            getCareer() {
                axios({
                    method: 'GET',
                    url: '/api/career',
                }).then(resp => {
                    if (resp.status == 200) {
                        this.careers = resp.data;
                    }
                }).catch(err => {
                    console.log(err.response.data)
                })
            },
            resetFilter() {
                this.career = '';
                this.age = '';
                this.type = '';
                this.date_to_contest = '';
                this.getCompetitors();
            },
            getPDF() {
                uri = '/pdf/';
                if (this.career >= 1) {
                    uri += '?career=' + this.career;
                } else {
                    uri += '?career=';
                }
                if (this.age != undefined && this.age > 0) {
                    uri += '&age=' + this.age;
                } else {
                    uri += '&age=';
                }
                if (this.type.length > 2) {
                    uri += '&type=' + this.type;
                } else {
                    uri += '&type=';
                }
                if (this.date_to_contest.length > 2) {
                    uri += '&date_to_contest=' + this.date_to_contest;
                } else {
                    uri += '&date_to_contest=';
                }
                axios({
                    method: 'GET',
                    url: uri,
                    responseType: 'blob',  // Solicita la respuesta en formato Blob
                }).then(resp => {
                    const blob = new Blob([resp.data], { type: 'application/pdf' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'reporte.pdf';
                    link.click();
                }).catch(err => {
                    console.log(err.response.data);
                });
            }
        },
        mounted() {
            this.getCompetitors();
            this.getCareer();
        },
    })

</script>
{% endblock %}